<div id="zoom_modal" class="modal fade" data-bind="if: zoom">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 data-bind="text: zoom().name"></h2>
            </div>
            <div class="modal-body">
                <p><img class="video zoom" data-bind="attr: {src: zoom().src}" width="720" height="240"/></p>
            </div>
        </div>
    </div>
</div>