<table data-bind="foreach: rooms" align="center" cellpadding="10" border=8>
    <tr>
        <td align="center" align="center" cellpadding="10" border="0" >​
            <table >
                <tr>
                    <td align="center" colspan="10" data-bind="text: name"></td>
                </tr>
                <tr data-bind="foreach: cams">
                    <td align="center">
                        <br>
                        <img class="video" data-bind="attr: {src: $data}" width="320" height="240"/>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>