<div id="modal" class="modal hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2></h2>
    </div>
    <div class="modal-body-big">
        <p><img class="video zoom" data-bind="attr: {src: zoom}" width="720" height="240"/></p>
    </div>
</div>

<div class="row-fluid">
    {% include 'cameras/widgets/pagination.html' %}
</div>
<div class="row-fluid">
    <div class="row-fluid" data-bind="foreach: visible_cams">
        <div class="span6 well" data-bind="style: { 'margin-left': row_begin ? '0px' : ' ' }">
            <label data-bind="text: name"></label>
            <img class="video" data-bind="attr: {src: src}, click: $root.cams.start_zoom"/>
        </div>
    </div>
</div>