<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" media="screen">

    {% block link %}
    {% endblock %}
    <style>
        {% block style %}
        {% endblock %}
    </style>
</head>
<body>
    <div class="page-header">
        {% include "widgets/navbar.html" %}
        <h1 align="center">Сервер. Видео сервер.</h1>
    </div>
    {% block content %}
    <div class="container-fluid" data-bind="if: visible().video">
        <div class="row-fluid">
            <!--fs-->
            <div class="offset1 span3">
                {% include 'widgets/fs.html' %}
                {% include 'widgets/pagination.html' %}
            </div>
            <!--player-->
            <div class="span7">
                {% include 'widgets/player.html' %}
            </div>
        </div>
    </div>
    {% include 'widgets/config.html' %}
    {% endblock %}
</body>

<script type="text/javascript" src='{% static 'jquery/jquery.min.js' %}'></script>
<script type="text/javascript" src='{% static 'knockout/build/output/knockout-latest.js' %}'></script>
<script type="text/javascript" src='{% static 'bootstrap/js/bootstrap.min.js' %}'></script>
<script type="text/javascript" src='{% static 'sammy/lib/min/sammy-latest.min.js' %}'></script>

<script type="text/javascript">
    {%  block script %}
        url = "{% url 'fs' %}";
        config_url = "{% url 'config' %}"
        {% include 'js/main.js' %}
    {% endblock %}
</script>
{% block js %}
{% endblock %}
</html>