<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% load static %}

    {% block link %}
        <link href="{% static 'bootstrap/css/bootstrap.css'%}" rel="stylesheet" media="screen">
        <link href="{% static 'bootstrap/css/bootstrap-glyphicons.css'%}" rel="stylesheet" media="screen">
    {% endblock %}
    <style>
        {% block style %}
        {% endblock %}

        .inline  {
            display: inline-block;
        }

        .name td {
            font-size: 10%;
        }
        .zoom {
            height: 640px;
            width: 900px;
        }
        .modal {
            width: 900px;
            left: 40%;
            top:3%;
        }
        .modal-backdrop {
            opacity: 1;
        }
        .not_margin_left {
            margin-left: 0px;
        }
    </style>

    
</head>
<body>
    {% include "widgets/navbar.html" %}
    <div class="page-header">
        <h1 align="center">Сервер. Видео сервер.</h1>
        {% include 'cameras/widgets/pagination.html' %}
    </div>
    {% block content %}
    <div class="container-fluid" data-bind="if: visible() === 'record' ">
        <div class="row-fluid">
            <!--fs-->
            <div class="span3">
                {% include 'widgets/fs.html' %}
                {% include 'widgets/pagination.html' %}
            </div>
            <!--player-->
            <div class="span6">
                {% include 'widgets/player.html' %}
            </div>
            <!--info-->
            <div class="span3" data-bind="template: { name: 'info-template', data: info}">
            </div>
        </div>
    </div>
    <div class="container-fluid" data-bind="if: visible() === 'config' ">
        {% include 'widgets/config.html' %}
    </div>
    <div class="container-fluid" data-bind="if: visible() === 'video' ">
        {% include 'cameras/all.html' %}
    </div>
    {% endblock %}
</body>

<script type="text/javascript" src='{% static 'jquery/jquery.min.js' %}'></script>
<script type="text/javascript" src='{% static 'knockout/knockout.min.js' %}'></script>
<script type="text/javascript" src='{% static 'bootstrap/js/bootstrap.min.js' %}'></script>
<script type="text/javascript" src='{% static 'sammy/lib/min/sammy-latest.min.js' %}'></script>

{% include 'widgets/info.html' %}
{% include 'widgets/editor.html' %}
<script type="text/javascript">
    {%  block script %}
        url = "{% url 'fs' %}";
        config_url = "{% url 'config' %}";
        control_url = "{% url 'control' %}";
        video_url = "{% url 'cameras' %}";
        info_url = "{% url 'info' %}";
        {% include 'js/cams.js' %}
        {% include 'js/main.js' %}
    {% endblock %}

</script>
{% block js %}
{% endblock %}
</html>