<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" media="screen">
    <style>
        {% block style %}
        {% endblock %}
    </style>
</head>
<body>

    {% block body %}
    {% endblock %}
</body>

<script type="text/javascript" src='{% static 'jquery/jquery.js' %}'></script>
<script type="text/javascript" src='{% static 'knockout/build/output/knockout-latest.js' %}'></script>
<script type="text/javascript" src='{% static 'bootstrap/js/bootstrap.js' %}'></script>
<script type="text/javascript" src='{% static 'sammy/lib/min/sammy-latest.min.js' %}'></script>

{% block js %}
{% endblock %}
</html>